.contact_block {
    width: 300px;
    height: 300px;
    border: 3px solid #BABABA;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    padding: 14px;
    margin-top: 41px;
}

.user_photo {
    border-radius: 100px;
    height: 136px;
    width: 136px;
}

.name {
    font-weight: 700;
    font-size: 24px;
}


.edit_button {
    cursor: pointer;
    margin-left: 250px;
}

.link {
    text-decoration: none;
    color: white;
}